@using Bakery.Models
@model Store
@{
  Layout = "_Layout";
}

<h1>Store Info Tracking</h1>

<h2>Vendors</h2>
<a class="btn" href="/store/vendors/new">Create a Vendor</a>
<partial name="_VendorTable" model="Model.Vendors" />

@if (Model.Orders.Count == 0)
{
  <p>There are no orders yet.</p>
}
else
{
  <p>Orders, yay!</p>
}