@using System.Collections.Generic
@using Bakery.Models
@model List<Vendor>
@{
  Layout = "_Layout";
}

<h1>Vendors</h1>
<a class="btn" href="/store/vendors/new">Create a Vendor</a>

<partial name="_VendorTable" model="Model" />