@using Bakery.Models
@model Vendor
@{
  Layout = "_Layout";
}

<h1>Create a new vendor</h1>

<form asp-controller="Store" asp-action="VendorsCreate">
  
  <label asp-for="Name"></label>
  <input asp-for="Name" required />

  <label asp-for="Description"></label>
  <textarea asp-for="Description"></textarea>

  <div asp-validation-summary="All"></div>

  <input type="submit">Create Vendor</input>
</form>